
/* ---------------------------------
   Shadows & Glows
---------------------------------- */

$shadow-soft: 0 0 12px rgba(0, 229, 255, 0.08);
$shadow-medium: 0 0 20px rgba(0, 229, 255, 0.15);
$shadow-strong: 0 0 30px rgba(0, 229, 255, 0.25);

@mixin glow-soft {
  box-shadow: $shadow-soft;
}

@mixin glow-medium {
  box-shadow: $shadow-medium;
}

@mixin glow-strong {
  box-shadow: $shadow-strong;
}
